@using MVC2015.Web.Model.SystemMaint.UserInfo
@using MVC2015.Web.Site.Common
@using MVC2015.Utility.Resource
@model UserInfoUpdatePassword
@{
    ViewBag.ShowSubmit = true;
    ViewBag.Title = @ResourceHelper.GetValue("SM_UserInfo_UpdatePassWord");
}

@Scripts.Render("~/Scripts/md5")

<div class="row page-title" style=" text-align:left">
    <h2>
        @ResourceHelper.GetValue("SM_UserInfo_UpdatePassWord")
    </h2>
</div>

<div class="row section-head">
    <div class="section-title">
        @ResourceHelper.GetValue("SM_UserInfo_UpdatePassWord")
    </div>
</div>
<div class="titlemenu">
    <input type="button" value="@ResourceHelper.GetValue("Common_Button_Save")" id="btnSave" />
    <a href="@Url.Action("UserEdit", "UserInfo")/@Model.UserId" class="abtn">@ResourceHelper.GetValue("Common_Button_Return")</a>
</div>
@using (@Html.Form("UpdatePassword", "UserInfo", new { UserId = Model.UserId }, FormMethod.Post, new { id = "editUserForm" }))
{
    <div class="row field-row">
        <div class="col-md-3 field-title">
            <span style="color:red">*</span>@ResourceHelper.GetValue("SM_UserInfo_OldPassword")：
        </div>
        <div class="col-md-3 field-content">
            @Html.PasswordFor(m => m.Password, new { @class = "field-input", @id = "txtPassword" })
        </div>
    </div>
    <div class="row field-row">
        <div class="col-md-3 field-title">
            <span style="color:red">*</span>@ResourceHelper.GetValue("SM_UserInfo_NewPassword")：
        </div>
        <div class="col-md-3 field-content">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "field-input", @id = "txtNewPassword" })
        </div>
    </div>
    <div class="row field-row">
        <div class="col-md-3 field-title">
            <span style="color:red">*</span>@ResourceHelper.GetValue("SM_UserInfo_ConfirmPassword")：
        </div>
        <div class="col-md-3 field-content">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field-input", @id = "txtConfirmPassword" })
        </div>
    </div>
    <div class="row">
        @Html.ValidationSummary()
    </div>
}

@Html.ScriptBlock(
    @<script type="text/javascript">
        function gotourl() {
            location.href = "@Url.Action("UserEdit", "UserInfo", new { area = "SystemMaint"})";
        }

        $(function () {
            $('#btnSave').bind('click', function () {
                var $form = $("#editUserForm");
                var bool = $form.validate().form();
                if (bool) {
                    var vPassword = $('#txtPassword').val();
                    var vNewPassword = $('#txtNewPassword').val();
                    var vConfirmPassword = $('#txtConfirmPassword').val();
                    var vEncryptPassword = $.md5(vPassword);
                    var vEncryptNewPassword = $.md5(vNewPassword);
                    var vEncryptConfirmPassword = $.md5(vConfirmPassword);
                    $('#txtPassword').val(vEncryptPassword);
                    $('#txtNewPassword').val(vEncryptNewPassword);
                    $('#txtConfirmPassword').val(vEncryptConfirmPassword);
                    $.ajax({
                        url: $form.attr("action"),
                        dataType: "html",
                        data: $form.serialize(),
                        type: "POST",
                        beforeSend: showLoading(),
                        success: function (data) {
                            if (data == "Success") {
                                Messenger.showSuccess("@ResourceHelper.GetValue("Message_Common_UpdatedSuccessful")", gotourl);
                            } else if (data == "Error") {
                                Messenger.showError("@ResourceHelper.GetValue("Message_UserInfo_UpdatePassword_Error")");
                                $('#txtPassword').val("");
                                $('#txtNewPassword').val("");
                                $('#txtConfirmPassword').val("");
                            } else {
                                Messenger.showError(data);
                                $('#txtPassword').val("");
                                $('#txtNewPassword').val("");
                                $('#txtConfirmPassword').val("");
                            }
                        },
                        error: function () {
                            buildError()
                        },
                        complete: function () {
                            hideLoading()
                        }
                    });
                }
            });
        });
    </script>
                                                )