@using MVC2015.Web.Model.SystemMaint.RoleInfo
@using MVC2015.Web.Site.Common
@using MVC2015.Utility.Resource;
@model RoleInfoItem
@{
    ViewBag.ShowSubmit = false;
    ViewBag.ShowConfirm = true;
    ViewBag.Title = ResourceHelper.GetValue("SM_RoleInfo_Edit");
    int currRoleId = ViewBag.RoleId;
    var hasViewUser = PermissionHelper.CheckPermission("SystemMaint", "RoleInfo", "UserList");
}
<style>
    .role-table input[type="button"] {
        cursor: pointer;
    }

        .role-table input[type="button"]:hover,
        .role-table input[type="button"]:focus {
            font-size: inherit;
        }
</style>
<div class="row page-title" style=" text-align:left">
    <h2>
        @ResourceHelper.GetValue("SM_RoleInfo_Edit")
    </h2>
</div>

<div class="row section-head">
    <div class="section-title">
        @ResourceHelper.GetValue("SM_RoleInfo_PageTitle")
    </div>
</div>
<div class="titlemenu">
    <input type="button" value="@ResourceHelper.GetValue("Common_Button_Save")" id="btnSave" />
    <a href="@Url.Action("Index", "RoleInfo")" class="abtn">@ResourceHelper.GetValue("Common_Button_Return")</a>
</div>
@using (@Html.Form("Edit", "RoleInfo", new { RoleId = Model.RoleId }, System.Web.Mvc.FormMethod.Post, new { id = "RoleForm" }))
{
    @Html.HiddenFor(m => m.RoleId)
    <div class="row field-row">
        <div class="col-md-3 field-title"><span style="color:red">*</span>@ResourceHelper.GetValue("SM_RoleInfo_RoleName")：</div>
        <div class="col-md-3 field-content">
            @Html.TextBoxFor(m => m.Name, new { @class = "field-input" })
        </div>
    </div>
    <div class="row field-row">
        <div class="col-md-3 field-title">@ResourceHelper.GetValue("SM_RoleInfo_RoleDescription")：</div>
        <div class="col-md-5 field-content">
            @Html.TextAreaFor(m => m.Description, new { @class = "field-input", rows = 2, cols = 100, maxlength = 200 })
        </div>
    </div>
    <div class="row section-head">
        <ul class="nav nav-tabs" role="tablist" style="padding-top:40px;">
            <li class="active">
                <a href="#tab_permission" data-toggle="tab">@ResourceHelper.GetValue("SM_RoleInfo_Permission")</a>
            </li>
            @if (PermissionHelper.CheckPermission("SystemMaint", "RoleInfo", "UserList"))
            {
                <li class="">
                    <a href="#tab_userlist" data-toggle="tab">@ResourceHelper.GetValue("SM_RoleInfo_UserList")</a>
                </li>
            }
        </ul>
    </div>
    <div class="tab-content">
        <div id="tab_permission" class="tab-pane active">
            @*html.renderaction("moulepermission", new { roleid=Model.RoleId });*@
            @Html.Action("moulepermission", new { roleid = Model.RoleId })
        </div>
        @if (PermissionHelper.CheckPermission("SystemMaint", "RoleInfo", "UserList"))
        {
            <div id="tab_userlist" class="tab-pane">
                @*html.renderaction("userlist", new { roleid=Model.RoleId });*@
                @Html.Action("UserList", new { roleId = Model.RoleId })
            </div>
        }
    </div>
    <div class="row">
        @Html.ValidationSummary()
    </div>
}
@Html.Partial("_NormalModal")

@Html.Hidden("HasViewUser", hasViewUser)
@Html.Hidden("currRoleId", currRoleId)

@Html.ScriptBlock(
    @<script type="text/javascript">


        function gotourl() {
            gotoUrl("@Url.Action("Index", "RoleInfo", new { area = "SystemMaint" })")
        }

        $(function () {
            $('#btnSave').bind('click', function () {
                var hasViewUser = $("#HasViewUser").val();
                if (hasViewUser == "True") {
                    var allSelectList = $("#AllSelectList").val();
                    var currRoleId = $("#currRole").val();
                    var primaryUserIds = $("#PrimaryUserIds").val();
                    //compare primary and allUserIds,to get the real delete UserIds
                    CompareUserIds(allSelectList, primaryUserIds);
                    var deleteUserIds = $("#DeleteUserIds").val();
                }
                else {
                    var allSelectList = "";
                    var currRoleId = $("#currRoleId").val();
                    var deleteUserIds = "";
                }

                $("input[type=checkbox]:disabled").prop("disabled", "");
                $('#RoleForm').removeData('validator');
                $('#RoleForm').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('#RoleForm');
                var $form = $("#RoleForm");
                var bool = $form.validate().form();
                if (bool) {
                    $.ajax({
                        url: $form.attr("action") + "?allSelectList=" + allSelectList + "&currRoleId=" + currRoleId + "&deleteUserIds=" + deleteUserIds,
                        dataType: "html",
                        data: $form.serialize(),
                        type: "POST",
                        beforeSend: showLoading(),
                        success: function (data) {
                            if (data == "Success") {

                                Messenger.showSuccess("@ResourceHelper.GetValue("Message_Common_UpdateSuccessful")",
                                    gotoUrl("@Url.Action("Index", "RoleInfo", new { area = "SystemMaint" })"));
                            } else {
                                Messenger.showError(data);
                            }
                        },
                        error: function () {
                            buildError()
                        },
                        complete: function () {
                            hideLoading();
                            $('#RoleForm').removeData('validator');
                            $('#RoleForm').removeData('unobtrusiveValidation');
                            $.validator.unobtrusive.parse('#RoleForm');
                        }
                    });
                }
            });
        });

        @*$(function () {
            $('#NormalSave').bind('click', function () {
                var $form = $("#UserListForm");
                var $table = $("#userListtable");
                //var bool = $form.validate().form();
                var bool = true;
                var $input = $table.find("input:checked");
                var count = $input.length;
                var currRoleId = $("#displayList").val();

                if (count > 0) {
                    var idList = "";
                    var selectValue = "";
                    for (var i = 0; i < count; i++) {
                        var $id = $input.eq(i).attr("data-id");
                        idList += $id + ",";
                        var $checkValue = $("#" + $id).val();
                        selectValue += $checkValue + ",";
                    }
                }

                if (bool) {
                    $.ajax({
                        url: $form.attr("action") + "?selectValue=" + selectValue + "&currRoleId=" + currRoleId,
                        dataType: "html",
                        data: $form.serialize(),
                        type: "POST",
                        beforeSend: showLoading(),
                        success: function (data) {
                            if (data == "Success") {

                                Messenger.showSuccess("@ResourceHelper.GetValue("Message_Common_UpdateSuccessful")");
                            } else {
                                Messenger.showError(data);
                            }
                        },
                        error: function () {
                            buildError()
                        },
                        complete: function () {
                            hideLoading();
                        }
                    });
                }
            });
        });*@



    </script>
                                            )